<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }

        .dropbtn {
            background-color: rgb(54, 53, 53);
            color: white;
            padding: 16px;
            font-size: 16px;
            min-width: 100%;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover,
        .dropbtn:focus {
            background-color: gray;
        }

        .dropdown {
            position: relative;
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 100%;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: gray;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        .button {

            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;

        }

        .vertical-center {
            padding-top: 10px;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/map">Map</a>
        <a class="active" href="/data">Data</a>
        <span style="color:#f2f2f2;font-size:35px;cursor:pointer;float: right; right:10px" onclick="openNav()">Filter
            &#9776; </span>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form action="/addDataFilter" method="POST">
            <a href="#">Weapon type</a>
            <select name="weapon" id="weapon" class="dropbtn">
                <option value="NO_FILTER">NO FILTER</option>
                <option value="HANDGUN">HANDGUN</option>
                <option value="BLUNT_OBJECT">BLUNT OBJECT</option>
                <option value="PERSONAL_WEAPONS">PERSONAL WEAPONS</option>
                <option value="FIREARM">FIREARM</option>
                <option value="ASPHYXIATION">ASPHYXIATION</option>
                <option value="KNIFE_CUTTING_INSTRUMENT">KNIFE CUTTING INSTRUMENT</option>
                <option value="OTHER">OTHER</option>
                <option value="SHOTGUN">SHOTGUN</option>
                <option value="UNKNOWN">UNKNOWN</option>
                <option value="AUTOMATIC_FIREARM">AUTOMATIC FIREARM</option>
                <option value="AUTOMATIC_HANDGUN">AUTOMATIC HANDGUN</option>
                <option value="OTHER_FIREARM">OTHER FIREARM</option>
                <option value="MOTOR_CEHICLE_VESSEL">MOTOR CEHICLE VESSEL</option>
                <option value="RIFLE">RIFLE</option>
                <option value="POISON">POISON</option>
                <option value="FIRE_INCENDIARY_DEVICE">FIRE INCENDIARY DEVICE</option>
                <option value="KNIFE">KNIFE</option>
                <option value="FIRE">FIRE</option>
                <option value="HANDS">HANDS</option>
                <option value="AUTOMATIC_RIFLE">AUTOMATIC RIFLE</option>
                <option value="DRUGS_NARCOTICS_SLEEPING_PILLS">DRUGS NARCOTICS SLEEPING PILLS</option>
                <option value="N/A">N/A</option>
            </select>
            <a href="#">Location</a>
            <select name="location" id="location" class="dropbtn">
                <option value="NO_FILTER">NO_FILTER</option>
                <option value="SOUTHEAST">SOUTHEAST</option>
                <option value="EASTERN">EASTERN</option>
                <option value="SOUTHERN">SOUTHERN</option>
                <option value="CENTRAL">CENTRAL</option>
                <option value="NORTHEAST">NORTHEAST</option>
                <option value="NORTHWEST">NORTHWEST</option>
                <option value="NORTHERN">NORTHERN</option>
                <option value="WESTERN">WESTERN</option>
                <option value="SOUTHWEST">SOUTHWEST</option>
            </select>
            <a href="#">Type of Crime</a>
            <select name="crime" id="crime" class="dropbtn">
                <option value="NO_FILTER">NO_FILTER</option>
                <option value="LARCENY">LARCENY</option>
                <option value="LARCENY FROM AUTO">LARCENY FROM AUTO</option>
                <option value="ROBBERY - COMMERCIAL">ROBBERY - COMMERCIAL</option>
                <option value="COMMON ASSAULT">COMMON ASSAULT</option>
                <option value="AGG. ASSAULT">AGG. ASSAULT</option>
                <option value="AUTO THEFT">AUTO THEFT</option>
                <option value="BURGLARY">BURGLARY</option>
                <option value="ROBBERY - STREET">ROBBERY - STREET</option>
                <option value="ROBBERY - RESIDENCE">ROBBERY - RESIDENCE</option>
                <option value="ROBBERY - CARJACKING">ROBBERY - CARJACKING</option>
                <option value="SHOOTING">SHOOTING</option>
                <option value="ARSON">ARSON</option>
                <option value="RAPE">RAPE</option>
                <option value="HOMICIDE">HOMICIDE</option>
            </select>
            <a href="#">Time</a>
            <select name="time" id="time" class="dropbtn">
                <option value="NO_FILTER">NO_FILTER</option>
                <option value="Morning">MORNING</option>
                <option value="Afternoon">AFTERNOON</option>
                <option value="Evening">EVENING</option>
                <option value="Late Night">LATE NIGHT</option>
            </select>
            <a href="#">Month</a>
            <select name="month" id="month" class="dropbtn">
                <option value="NO_FILTER">NO_FILTER</option>
                <option value="April">APRIL</option>
                <option value="May">MAY</option>
                <option value="June">JUNE</option>
                <option value="July">JULY</option>
                <option value="August">AUGUST</option>
                <option value="September">SEPTEMBER</option>
                <option value="October">OCTOBER</option>
                <option value="November">NOVEMBER</option>
                <option value="December">DECEMBER</option>
                <option value="January">JANUARY</option>
                <option value="February">FEBRUARY</option>
                <option value="March">MARCH</option>
            </select>
            <a href="#">Inside/Outside</a>
            <select name="inside/outside" id="inside/outside" class="dropbtn">
                <option value="NO_FILTER">NO_FILTER</option>
                <option value="Inside">INSIDE</option>
                <option value="Outside">OUTSIDE</option>
                <option value="NA">N/A</option>
            </select>
            <div class="vertical-center">
                <input class="button" type="submit" value="Apply Changes" />
            </div>
        </form>
    </div>
    <br>

    <table style="width:100%">
        <tr>
            <th>
                <div id="piechart" style="width: 550px; height: 400px;"></div>
            </th>
            <th>
                <div id="barchart_values" style="width: 550px; height: 400px;"></div>
            </th>
            <th>
                <div id="inoutchart" style="width: 550px; height: 400px"></div>
            </th>
        </tr>
        <tr></tr>
    </table>

    <table style="width:100%">
        <tr>
            <th>
                <div id="columnchart_values" style="width: 550px; height: 400px;"></div>
            </th>
            <th>
                <div id="description_values" style="width: 550px; height: 400px;"></div>
            </th>
            <th>
                <div id="time_values" style="width: 550px; height: 400px"></div>
            </th>
        </tr>
        <tr></tr>
    </table>

    <table style="width:100%">
        <tr>
            <th>
                <div id="neighborhoodChart" style= "width: 100%; height: 400px;"></div>
            </th>
        </tr>
        <tr></tr>
    </table>

    <table style="width:100%">
        <tr>
            <th>
                <div id="history_chart" style="width: 100%; height: 400px;"></div>
            </th>
        </tr>
        <tr></tr>
    </table>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["District", "Number", { role: "style" } ],
            ["SOUTHEAST", {{ districtDict['SOUTHEAST'] }}, "red"],
            ["EASTERN", {{ districtDict['EASTERN'] }}, "orange"],
            ["CENTRAL", {{ districtDict['CENTRAL'] }}, "yellow"],
            ["NORTHEAST", {{ districtDict['NORTHEAST'] }}, "green"],
            ["SOUTHWEST", {{ districtDict['SOUTHWEST'] }}, "blue"],
            ["NORTHWEST", {{ districtDict['NORTHWEST'] }}, "pink"],
            ["NORTHERN", {{ districtDict['NORTHERN'] }}, "purple"],
            ["WESTERN", {{ districtDict['August'] }}, "silver"],
        ]);
  
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);
  
        var options = {
          title: "Crimes Committed In Each District",
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["District", "Number", { role: "style" } ],
            ["LARCENY", {{ descriptionDict['LARCENY'] }}, "red"],
            ["LARCENY FROM AUTO", {{ descriptionDict['LARCENY FROM AUTO'] }}, "orange"],
            ["ROBBERY - COMMERCIAL", {{ descriptionDict['ROBBERY - COMMERCIAL'] }}, "yellow"],
            ["COMMON ASSAULT", {{ descriptionDict['COMMON ASSAULT'] }}, "green"],
            ["AGG. ASSAULT", {{ descriptionDict['AGG. ASSAULT'] }}, "blue"],
            ["AUTO THEFT", {{ descriptionDict['AUTO THEFT'] }}, "pink"],
            ["BURGLARY", {{ descriptionDict['BURGLARY'] }}, "purple"],
            ["ROBBERY - STREET", {{ descriptionDict['ROBBERY - STREET'] }}, "silver"],
            ["ROBBERY - RESIDENCE", {{ descriptionDict['ROBBERY - RESIDENCE'] }}, "brown"],
            ["ROBBERY - CARJACKING", {{ descriptionDict['ROBBERY - CARJACKING'] }}, "black"],
            ["SHOOTING", {{ descriptionDict['SHOOTING'] }}, "grey"],
            ["ARSON", {{ descriptionDict['ARSON'] }}, "violet"],
            ["RAPE", {{ descriptionDict['RAPE'] }}, "copper"],
            ["HOMICIDE", {{ descriptionDict['HOMICIDE'] }}, "platinum"]
        ]);
  
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);
  
        var options = {
          title: "Description of Each Crime",
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("description_values"));
        chart.draw(view, options);
    }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["District", "Number", { role: "style" }],
            {% set counter = namespace(value=0) %}
            {% set color = namespace(value="red") %}
            {% for key in neighborhoodDict.keys() %}
                {% if counter.value % 3 == 0 %}
                    {% set color.value = "red" %}
                {% elif counter.value % 3 == 1 %}
                    {% set color.value = "yellow" %}
                {% else %}
                    {% set color.value = "blue" %}
                {% endif %}
                [ '{{ key }}' , {{ neighborhoodDict[key] }}, '{{ color.value }}'],
                {% set counter.value = counter.value + 1 %}
            {% endfor %}
        ]);
  
        var view = new google.visualization.DataView(data);
        
  
        var options = {
          title: "Neighborhood Chart",
          width: 2000,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("neighborhoodChart"));
        chart.draw(view, options);
    }
    </script>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Weapons', 'percent'],
                {% for key in weaponDict.keys() %}
                [ '{{ key }}' , {{ weaponDict[key] }} ],
                {% endfor %}
            ]);

            var options = {
                title: "Weapon Pie Chart"
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Inside/Outside', 'percent'],
                {% for key in inoutDict.keys() %}
                [ '{{ key }}' , {{ inoutDict[key] }} ],
                {% endfor %}
            ]);

            var options = {
                title: "Inside/Outside Crime Pie Chart"
            };

            var chart = new google.visualization.PieChart(document.getElementById('inoutchart'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Month", "Number", { role: "style" }],
                ["January", {{ monthDict['January'] }}, "red"],
                ["February", {{ monthDict['February'] }}, "orange"],
                ["March", {{ monthDict['March'] }}, "yellow"],
                ["April", {{ monthDict['April'] }}, "green"],
                ["May", {{ monthDict['May'] }}, "blue"],
                ["June", {{ monthDict['June'] }}, "pink"],
                ["July", {{ monthDict['July'] }}, "purple"],
                ["August", {{ monthDict['August'] }}, "silver"],
                ["September", {{ monthDict['September'] }}, "brown"],
                ["October", {{ monthDict['October'] }}, "black"],
                ["November", {{ monthDict['November'] }}, "grey"],
                ["December", {{ monthDict['December'] }}, "violet"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: "Crimes Committed In Each Month",
                width: 600,
                height: 400,
                bar: { groupWidth: "95%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Time", "Number", { role: "style" }],
                ["Morning", {{ timeDict['Morning'] }}, "red"],
                ["Afternoon", {{ timeDict['Afternoon'] }}, "orange"],
                ["Evening", {{ timeDict['Evening'] }}, "yellow"],
                ["Late Night", {{ timeDict['Late Night'] }}, "green"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: "Crimes Committed In Each Month",
                width: 600,
                height: 400,
                bar: { groupWidth: "95%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.BarChart(document.getElementById("time_values"));
            chart.draw(view, options);
        }
    </script>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Crimes Committed'],
                {% for key in historyDict.keys()|reverse %}
                [ '{{ key }}' , {{ historyDict[key] }} ],
                {% endfor %}
            ]);

            var options = {
                title: 'History of Crime in Baltimore',
                curveType: 'function',
                width:2000,
                height:400,
                vAxis: {
                    viewWindow: {
                        max: 5000,
                        min: 0
                    }
                },
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('history_chart'));

            chart.draw(data, options);
        }
    </script>
</body>

</html>
